{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Create a Post </title>
</head>

<body>

    {{ urls|json_script:"myurls" }}

    <h1>Shorten your URL </h1>

    <form id="mainForm" action="" method="POST">
        {% csrf_token %}
        Long URL: <input type="url" id="long_url" name="long_url" placeholder="www.google.com"><br>
        Short URL: <div id="shortened_url" name="shortened_url"></div>
        <input type="submit" value="Generate"/>
    </form>

    <script src="{% static 'script.js' %}"></script>

</body>
</html>